In [1]:
import pandas as pd
from keras.models import load_model, Sequential
from sklearn import preprocessing
import matplotlib.pyplot as plt
from keras.layers import Dense
from keras import backend as K
import sklearn.metrics as skm, math

C:\Program Files\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
def rmse(y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis = -1))
def r_square(y_true, y_pred):
    SS_res =  K.sum(K.square(y_true - y_pred)) 
    SS_tot = K.sum(K.square(y_true - K.mean(y_true))) 
    return (1 - SS_res/(SS_tot + K.epsilon()))

### With Implied Volatility

In [22]:
model = load_model('model.h5', custom_objects={'rmse': rmse, 'r_square': r_square})
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 64)                512
_________________________________________________________________
dense_2 (Dense)              (None, 128)               8320
_________________________________________________________________
dense_3 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 65
=================================================================
Total params: 17,153
Trainable params: 17,153
Non-trainable params: 0
_________________________________________________________________

In [5]:
df = pd.read_csv('OptionsAAPL2016.csv')
df = df[df['interest_rate'].notnull()]
df.head()

,The Date of this Price,Expiration Date of the Option,Strike Price,Lowest Closing Ask Across All Exchanges,Implied Volatility of the Option,Underlying Price,maturity,"C=Call, P=Put_C","C=Call, P=Put_P",interest_rate
0,2016-01-04,2016-01-08,100.0,5.45,0.280560,105.35,4,1,0,0.0022
1,2016-01-04,2016-01-08,101.0,4.50,0.276172,105.35,4,1,0,0.0022
2,2016-01-04,2016-01-08,102.0,3.65,0.295935,105.35,4,1,0,0.0022
3,2016-01-04,2016-01-08,103.0,2.79,0.290561,105.35,4,1,0,0.0022
4,2016-01-04,2016-01-08,104.0,2.06,0.286634,105.35,4,1,0,0.0022

In [23]:
y = df['Lowest  Closing Ask Across All Exchanges']
X = df[['maturity', 'Strike Price', 'Implied Volatility of the Option', 'Underlying Price', 'C=Call, P=Put_C', 
        'C=Call, P=Put_P', 'interest_rate']]
X.head()

,maturity,Strike Price,Implied Volatility of the Option,Underlying Price,"C=Call, P=Put_C","C=Call, P=Put_P",interest_rate
0,4,100.0,0.280560,105.35,1,0,0.0022
1,4,101.0,0.276172,105.35,1,0,0.0022
2,4,102.0,0.295935,105.35,1,0,0.0022
3,4,103.0,0.290561,105.35,1,0,0.0022
4,4,104.0,0.286634,105.35,1,0,0.0022

In [24]:
X= preprocessing.normalize(X)

In [25]:
pred = model.predict(X)
print('Prediction:\n', pred[:10])
print('\n')
print('Actual:\n', y[:10])

Prediction:
 [[5.6159697 ]
 [4.6059227 ]
 [3.6784084 ]
 [2.8722942 ]
 [2.078514  ]
 [1.2786304 ]
 [0.6911897 ]
 [0.45115256]
 [0.28465927]
 [0.21060574]]


Actual:
 0    5.45
1    4.50
2    3.65
3    2.79
4    2.06
5    1.43
6    0.93
7    0.56
8    0.32
9    0.18
Name: Lowest  Closing Ask Across All Exchanges, dtype: float64

In [26]:
print("Mean absolute error (MAE):      %f" % skm.mean_absolute_error(y,pred))
print("Mean squared error (MSE):       %f" % skm.mean_squared_error(y,pred))
print("Root mean squared error (RMSE): %f" % math.sqrt(skm.mean_squared_error(y,pred)))
print("R square (R^2):                 %f" % skm.r2_score(y,pred))

Mean absolute error (MAE):      0.691857
Mean squared error (MSE):       10.146552
Root mean squared error (RMSE): 3.185365
R square (R^2):                 0.983552

### Without Implied Volatility

In [4]:
model2 = load_model('model3.h5', custom_objects={'rmse': rmse, 'r_square': r_square})
model2.summary()

WARNING: Logging before flag parsing goes to stderr.
W0705 20:35:39.429791  8520 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0705 20:35:39.446981  8520 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0705 20:35:39.497005  8520 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

W0705 20:35:39.498023  8520 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:184: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

W0705 20:35:39.499025  8520 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:186: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

W0705 20:35:39.551057  8520 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 64)                448
_________________________________________________________________
dense_2 (Dense)              (None, 128)               8320
_________________________________________________________________
dense_3 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 65
=================================================================
Total params: 17,089
Trainable params: 17,089
Non-trainable params: 0
_________________________________________________________________

In [7]:
yy = df['Lowest  Closing Ask Across All Exchanges']
XX = df[['maturity', 'Strike Price', 'Underlying Price', 'C=Call, P=Put_C', 'C=Call, P=Put_P', 'interest_rate']]
XX.head()

,maturity,Strike Price,Underlying Price,"C=Call, P=Put_C","C=Call, P=Put_P",interest_rate
0,4,100.0,105.35,1,0,0.0022
1,4,101.0,105.35,1,0,0.0022
2,4,102.0,105.35,1,0,0.0022
3,4,103.0,105.35,1,0,0.0022
4,4,104.0,105.35,1,0,0.0022

In [12]:
#sc = preprocessing.MinMaxScaler()
XX = preprocessing.normalize(XX)
#XX = sc.fit_transform(XX)

In [13]:
pred2 = model2.predict(XX)
print('Prediction:\n', pred2[:10])
print('\n')
print('Actual:\n', yy[:10])

Prediction:
 [[0.15308353]
 [0.14638993]
 [0.13982257]
 [0.13326856]
 [0.12291273]
 [0.11387429]
 [0.10604128]
 [0.09822413]
 [0.08941802]
 [0.08062539]]


Actual:
 0    5.45
1    4.50
2    3.65
3    2.79
4    2.06
5    1.43
6    0.93
7    0.56
8    0.32
9    0.18
Name: Lowest  Closing Ask Across All Exchanges, dtype: float64

In [14]:
print("Mean absolute error (MAE):      %f" % skm.mean_absolute_error(yy,pred2))
print("Mean squared error (MSE):       %f" % skm.mean_squared_error(yy,pred2))
print("Root mean squared error (RMSE): %f" % math.sqrt(skm.mean_squared_error(yy,pred2)))
print("R square (R^2):                 %f" % skm.r2_score(yy,pred2))

Mean absolute error (MAE):      12.289165
Mean squared error (MSE):       386.272300
Root mean squared error (RMSE): 19.653811
R square (R^2):                 0.373841

### With Realized Volatility

In [4]:
df_realized = pd.read_csv('Options2016AAPL_withReaVo.csv')
df_realized = df_realized[df_realized['interest_rate'].notnull()]
df_realized.drop(['Unnamed: 0', 'days'], axis = 1, inplace = True)
df_realized.head()

,Strike Price,Lowest Closing Ask Across All Exchanges,Underlying Price,maturity,"C=Call, P=Put_C","C=Call, P=Put_P",interest_rate,volatility
0,100.0,5.45,105.35,4,1,0,0.0022,0.218791
1,101.0,4.50,105.35,4,1,0,0.0022,0.218791
2,102.0,3.65,105.35,4,1,0,0.0022,0.218791
3,103.0,2.79,105.35,4,1,0,0.0022,0.218791
4,104.0,2.06,105.35,4,1,0,0.0022,0.218791

In [5]:
model3 = load_model('model4.h5', custom_objects={'rmse': rmse, 'r_square': r_square})
model3.summary()

WARNING: Logging before flag parsing goes to stderr.
W0706 19:20:45.427361  9260 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0706 19:20:45.442358  9260 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0706 19:20:45.492409  9260 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

W0706 19:20:45.493395  9260 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:184: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

W0706 19:20:45.493395  9260 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:186: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

W0706 19:20:45.541429  9260 deprecation_wrapper.py:119] From C:\Users\mayingzh\AppData\Roaming\Python\Python36\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 64)                512
_________________________________________________________________
dense_2 (Dense)              (None, 128)               8320
_________________________________________________________________
dense_3 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 65
=================================================================
Total params: 17,153
Trainable params: 17,153
Non-trainable params: 0
_________________________________________________________________

In [7]:
y3 = df_realized['Lowest  Closing Ask Across All Exchanges']
X3 = df_realized[['maturity', 'Strike Price', 'Underlying Price', 'volatility', 'C=Call, P=Put_C', 'C=Call, P=Put_P', 'interest_rate']]
X3.head()

,maturity,Strike Price,Underlying Price,volatility,"C=Call, P=Put_C","C=Call, P=Put_P",interest_rate
0,4,100.0,105.35,0.218791,1,0,0.0022
1,4,101.0,105.35,0.218791,1,0,0.0022
2,4,102.0,105.35,0.218791,1,0,0.0022
3,4,103.0,105.35,0.218791,1,0,0.0022
4,4,104.0,105.35,0.218791,1,0,0.0022

In [8]:
sc = preprocessing.MinMaxScaler()
X3 = sc.fit_transform(X3)

In [9]:
pred3 = model3.predict(X3)
print('Prediction:\n', pred3[:10])
print('\n')
print('Actual:\n', y3[:10])

Prediction:
 [[0.1731619 ]
 [0.17076582]
 [0.16836989]
 [0.16597393]
 [0.16357797]
 [0.1611819 ]
 [0.15878624]
 [0.15639025]
 [0.153994  ]
 [0.15159824]]


Actual:
 0    5.45
1    4.50
2    3.65
3    2.79
4    2.06
5    1.43
6    0.93
7    0.56
8    0.32
9    0.18
Name: Lowest  Closing Ask Across All Exchanges, dtype: float64

In [10]:
print("Mean absolute error (MAE):      %f" % skm.mean_absolute_error(y3,pred3))
print("Mean squared error (MSE):       %f" % skm.mean_squared_error(y3,pred3))
print("Root mean squared error (RMSE): %f" % math.sqrt(skm.mean_squared_error(y3,pred3)))
print("R square (R^2):                 %f" % skm.r2_score(y3,pred3))

Mean absolute error (MAE):      11.614497
Mean squared error (MSE):       311.464236
Root mean squared error (RMSE): 17.648349
R square (R^2):                 0.495107